@media screen and (min-width:150px) and (max-width:992px) {
.welcommsg{ padding:15px;}
.main-achive {
    display: unset !important;
}
.best {
    padding: 11px 0px !important;
}
.We-Get h2 {
    font-size: 40px !important;
}
.provide p {  
    font-size: 34px !important;
}

.date-in { margin-top: 10px;}
.qualitycont h6 {
    margin: 14px 0px 23px 0px !important;
}
.qualitycont {width: 100%!important;}
.topcontmenu{display: none !important;}
    .get {
        display: none !important;
    }
	.bannerbothead {
    padding: 8px 14px!important;
}
.bannerbothead h1 {
    font-size: 25px!important;
}
	.bannertopcont{display: none !important;}
.headerpart {
    border-top: 0px solid #002c91!important;
}
    .indexwhatservices {
        font-size: 36px !important;
    }

    .indexwhychoos h5 {
        margin-top: 20px !important;
    }

    .indexwhychoos h4 {
        font-size: 30px !important;
    }

    .footerbox {
 margin-top:0px !important; 
    }

    .footerboxcenter {
        text-align: left !important;
        padding: 0px 15px !important;
    }

    .footerboxcenter img {
     
        margin: 26px 0px !important;
    }

    .footerbox img { margin-top: 14px  !important;}
    footer strong {
        margin-top: 20px !important;
        display: block;
    }

    .footerbox h5 {
         padding-bottom: 0px !important; 
        margin: 25px 0px 10px 0px !important;
    }
    footer {
       
        padding-top: 20px !important;
    }

    .footerbottom {
        margin-bottom: 58px;
    }

    .indexbannerbottom {
        padding: 40px 0px !important;
    }

    .indexbannerbottom h1 {
        font-size: 32px !important;
        padding: 8px 0px !important;
    }

    .top-group {
        display: none;
    }

    .logo img {
        width: 200px !important;
        margin-top: 0px;
        margin-bottom: 0px;
		        padding: 13px 0px 0px !important;
    }

    .logo {
        padding: 10px 17px !important;
        margin: 0 auto;
    }

    .header-bg {
        background-color: #fff !important;
        border-radius: 15px 15px 0px 0px;
        padding-bottom: 20px;
        padding-top: 15px;
        max-height: 355px;
        overflow: auto;
        box-shadow: -8px 2px 21px 0 rgba(136, 136, 136, .4);
    }

    .header-bg::-webkit-scrollbar {
        width: 0px !important;
    }

    .header-bg::-webkit-scrollbar-thumb {
        background: #313d4f;
        -webkit-border-radius: 0;
        border-radius: 0
    }

    #toogle {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .login span {
        display: block;
        display: none;
    }

    .hide {
        display: block !important;
    }

    .right-side {
        float: none;
    }

    .sub {
        position: relative;
    }

    .mobile_icons {
        display: block !important;
        position: absolute;
        right: 15px;
        z-index: 11;
        top: 12px;
    }

    .dropdoqwn2 {
        display: none;
        position: relative !important;
        left: 0 !important;
        width: 100%;
        margin-top: 0px !important;
    }

    .dropdoqwn {
        display: none;
        position: relative !important;
        width: 100%;
        margin-top: 0px !important;
    }

    .dropdoqwn2 {
        display: none;
        position: relative;
    }

    .mobile3::after {
        display: none !important;
    }



    .hide {
        position: absolute;
        right: 0;
        margin-top: 0;
        z-index: 99999;
        top: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 39px;
        top: 3px;
    }

    .dropdoqwn li a {
        display: block !important;
        background-color: #eee !important;
        font-size: 14px;
        border-bottom: 0px solid #14bd62;
        padding: 10px 15px;
        min-width: 150px;
        text-align: left;
        border-radius: 0px;
        color: #fff;
        text-transform: capitalize !important;
    }

    .logo-part {
        display: none;
    }

    .header ul li {
        display: block !important;
    }

    .top-head {
        display: none !important;
    }

    .headerpart {
        background-color: #fff;
        box-shadow: -2px -2px 13px 13px #8888882e;
    }

    .owl-prev {
     
        right: -45px !important;
     
    }
    .owl-next { 

       
        left: -47px !important;
      
    }
    

}

@media screen and (min-width:800px) {
    .header ul li:hover>ul {
        display: block;
    }

    .meg:hover .megmenupart {
        display: block !important;
    }

    .faicon {
        display: none;
    }

    .logo {
        margin-top: 8px;
    }

}

.active .type17 {
    transform: rotate(45deg);
    background-color: #000;
    transition: all 0.6s ease-in-out;
}

.active .type17:before {
    transform: translate(-4px, -6px) rotate(90deg);
}

.active .type17:after {
    transform: translate(16px, -7px) rotate(90deg);
}

.block {
    height: 38px;
    width: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    /* transition: all 1s ease; */
    background-image: #000;
}

.cta {
    height: 39px;
    width: 39px;
    cursor: pointer;
}

.toggle-btn {
    height: 1px;
    width: 25px;
    background-color: #000;
    position: relative;
    top: 50%;
    left: 0;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.toggle-btn:before {
    content: "";
    height: 1px;
    width: 25px;
    box-shadow: 0 -10px 0 0 #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.toggle-btn:after {
    content: "";
    height: 1px;
    width: 25px;
    box-shadow: 0 10px 0 0 #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.type17:before {
    width: 12px;
}

.type17:after {
    width: 12px;
    box-shadow: 13px 10px 0 0 #000;
}

@media (max-width: 991.98px) {

    .mobile3 {
        padding-right: 8px !important;
    }

    .phone_h {
        display: none !important;
    }

    .top-header {
        justify-content: center !important;
    }

    .offcanvas-collapse {
        position: fixed !important;
        bottom: 46px;
        width: 100% !important;
        z-index: 99999 !important;
        padding-top: 10px;
        left: 0;
        overflow-y: auto;
        visibility: hidden;
        background-color: #fff;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out, visibility .2s ease-in-out;
        transition: transform .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
        transform: translateY(100%);
        box-shadow: -8px 2px 21px 0 rgba(136, 136, 136, .4);
        padding-bottom: 18px;
    }

    .header {
        display: block !important;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }


    .back-to-top {
        display: none !important;
    }

    .header {
        width: 100%;
        text-align: left;
    }

    .side-right {

        text-align: center;
        width: 87%;
        margin-top: 13px;
        border-top: 1px solid #d3d0d0;
        padding: 25px 7px;
        margin-left: auto;
        margin-right: auto;
    }

    .headerf-0flex li {
        border: none !important;
    }

    .headerf-0flex li a {
        text-align: left;
        padding: 8px 16px !important;
        display: block;
        text-decoration: none;
        color: #434040 !important;
        font-size: 13px !important;
        transition: .6s linear;
        font-weight: 500 !important;
        border-radius: 3px;
        text-transform: uppercase;
        border: none !important;
    }

}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}


/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
}

.back-to-top {
    position: fixed;
    display: none;
    text-align: center;
    z-index: 99999999;
    background-color: #ffffff;
    color: #1c1210;
    width: 45px;
    height: 42px;
    line-height: 30px;
    right: 40px;
    bottom: 30px;
    padding-bottom: 2px;
    font-size: 32px;
    padding-top: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: none;
    border: 2px solid #1c1210;
    animation: fadeInRight 1.2s;
    border-radius: 5px;
}

.back-to-top:hover {
    background-color: #e02630;
    color: #fff;
    border: none !;
}

@media (min-width: 991px) {
    .navbar-toggler {
        display: none;
        outline: none !important;
        box-shadow: none !important;
    }
}

@media (max-width: 767px) {
    .mobile {
        display: block !important;
    }
}

#dyanmic .wow {
    animation: fadeInUp 1s;
}

#dyanmic .wow:nth-child(2n+2) {
    animation: fadeInUp 2s;
}

#dyanmic .wow:nth-child(2n+3) {
    animation: fadeInUp 3s;
}

#dyanmic .wow:nth-child(2n+4) {
    animation: fadeInUp 4s;
}

#dyanmic .wow:nth-child(2n+5) {
    animation: fadeInUp 5s;
}

#dyanmic .wow:nth-child(2n+6) {
    animation: fadeInUp 6s;
}

#dyanmic .wow:nth-child(2n+7) {
    animation: fadeInUp 7s;
}

#dyanmic .wow:nth-child(2n+8) {
    animation: fadeInUp 8s;
}

#dyanmic .wow:nth-child(2n+9) {
    animation: fadeInUp 9s;
}

#dyanmic .wow:nth-child(2n+10) {
    animation: fadeInUp 9.46s;
}

#dyanmic .wow:nth-child(2n+11) {
    animation: fadeInUp 9.8s;
}

#dyanmic .wow:nth-child(2n+12) {
    animation: fadeInUp 10s;
}

#dyanmic .wow:nth-child(2n+13) {
    animation: fadeInUp 10.4s;
}

#dyanmic .wow:nth-child(2n+14) {
    animation: fadeInUp 10.8s;
}

#dyanmic .wow:nth-child(2n+15) {
    animation: fadeInUp 11.2s;
}

#dyanmic .wow:nth-child(2n+16) {
    animation: fadeInUp 11.6s;
}

#dyanmic .wow:nth-child(2n+17) {
    animation: fadeInUp 12s;
}

#dyanmic .wow:nth-child(2n+18) {
    animation: fadeInUp 12.4s;
}

#dyanmic .wow:nth-child(2n+19) {
    animation: fadeInUp 12.8s;
}

#dyanmic .wow:nth-child(2n+19) {
    animation: fadeInUp 13s;
}


@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }

    .fluid {
        padding-left: 5%;
        padding-right: 5%;
    }

}

.mobilefixed {
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    color: #fff;
    display: flex;
    text-align: center;
    z-index: 99999 !important;
    box-shadow: -8px 2px 21px 0 rgba(136, 136, 136, .4);
    border-radius: 10px 10px 0 0
}

.mobilefixed ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6px
}

.mobilefixed li a {
    color: #000 !important;
    padding: 10px 15px 0 15px;
    font-weight: 400;
    font-size: 13px;
    display: inline-block
}


.mobilefixed span {
    width: 100%;
    display: block;
    font-size: 11px;
    color: #555;
}

.mobilefixed i {
    font-size: 15px;
}

.menu1 {
    font-size: 30px !important;
    color: #f60;
    padding-top: 7px;
    padding-right: .8rem;
    display: inline-block;
}